body{
    margin: 0;    
    font-family: 'Arial Narrow', Arial, sans-serif;
}
.container{
    width: 100vw;
    height: 100vh;
    background-image: url(../img/daily-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.main-content{
    height: 95vh;
    margin: 0 2.5vw 0 2.5vw;
}

/* Sección inicial */
.head{
    display: flex;
    height: 5%;
}
/* Content inside .head */
#logo{
    display: flex;
    width: 20%;
    align-items: center;
}
#logo img{
    width: 70%;
}
#menu1, #menu2{
    color: white;
    font-size: 1.3em;
}
#menu1{
    display: flex;
    width: 35%;
    justify-content: left;
    align-items: center;
    padding: 0px 2% 0px 10px;
}
    /* Content inside #menu1 */
    .menu1-box{
        width: auto;
        margin: 0px 5% 0px 5%;
    }
#menu2{
    display: flex;
    width: 50%;
    justify-content: right;
    align-items: center;
    padding: 0px 20px 0px 20px;
}
/* Content inside #menu1 */
.menu2-box{
    display: flex;
    width: auto;
    height: 100%;
    margin: 0px 2% 0px 2%;
    align-items: center;
}
.menu2-box img{
    height: 90%;
    filter: invert(1);
    margin-left: 5px;
}
.search{
    display: flex;
    height: 70%;
    width: 100%;
    justify-content: center;
}
.search-container{
    height: 10%;
    width: 55%;
    margin-top: 150px;
    background-color: white;
    border-radius: 7px;
    display: flex;
    align-items: center;
}
#search-textbox{
    width: 73%;
    height: 80%;
    display: flex;
    align-items: center;
    margin-left: 2%;
}
#search-textbox input{
    width: 100%;
    height: 70%;
    border: 0;
    outline: none;
    font-size: 1.3em;
}
.news{
    height: 25%;
    width: 100%;
}
#option_news{
    display: flex;
    height: 25%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
#option_news_hidden{
    background-color: #282423;
    width: 3vw;
    height: 80%;
    margin: 0.5%;
    border-radius: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#option_news_hidden img{
    width: 50%;
    height: 50%;
    filter: invert(1);
}
#option_news_move{
    display: flex;
    width: 15.52vw;
    height: 80%;
}
#option_news_move div{
    background-color: #282423;
    border-radius: 7%;
}
#lugar{
    height: 100%;
    width: 50%;
    margin: 0px 0.5vw 0px 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#lugar img{
    /* width: 50%; */
    height: 50%;
    filter: invert(1);
    margin-right: 0.5vw;
    font-size: 1.3em;
}
#lugar #text{
    
}
.selector{
    width: 23%;
    height: 100%;
    margin: 0px 0.5vw 0px 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.selector img{
    height: 55%;
    filter: invert(1);
}
.new_container{
    display: flex;
    width: 100%;
    height: 75%;
}
.new_box{
    height: 75%;  
    width: 19%;
    margin: 0.5%;
    border-radius: 4%;
    display: flex;
    justify-content: center;
    padding: 1%;
}
.new_box a{
    color: white;
    text-decoration: none;
}
.new_box p{margin-top: 7%;}
.new_box h1{font-size: 1.4em;}

.footer-content{
    display: flex;
    height: 5vh;
    width: 95vw;
    padding:  0 2.5vw 0 2.5vw;
    align-items: center;
    background-color: #333333;
    justify-content: space-between;
    color: #525252;
}
#copyright{
    float: left;
    left: 0;
    font-size: 1em;
    margin-right: 2vw;
}
.footer_items{
    display: flex;
} 


.footer_items div{
    margin: 0px 1vw 0px 1vw;
    font-size: 1.1em;
}

#new1{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/news1.png) center;
    background-size: cover;
    
}
#new2{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/news2.png) center;
    background-size: cover;
}
#new3{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/news3.png) center;
    background-size: cover;
}
#new4{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/news4.png) center;
    background-size: cover;
}
#new5{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/news5.png) center;
    background-size: cover;
}
/* #search_option{
    display: flex;
} */
.search-box{
    width: 6%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-box img{ height: 50%; }